rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /contracts/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /pdf/contracts/{contractId}.pdf {
      allow read: if (request.auth != null &&
                      request.auth.uid == get(/databases/(default)/documents/contracts/$(contractId)).data.ownerUid)
                    || request.query.token == resource.metadata.firebaseStorageDownloadTokens;
      allow write: if false;
    }
  }
}
